<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">主页</a></li>
		        	<li><a href="/blog">博客</a></li>
	        		<li><a href="/cv.html">读书</a></li>	        		
				<li><a href="/about.html">关于</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="chenjames215@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jameschan215">github.com/Jameschan215</a></li>
				</ul>
			</footer>
		</body>
	</html>
